
<style>
    header {
        background-color: #333;
        color: white;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }

    header h1 {
        margin: 0;
    }

    /* Navigation styles */
    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin: 0 1rem;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }
</style>
<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/src/services/Employees/index.html">Manage Employees</a></li>
        <li><a href="/src/services/Locations/index.html">Manage Locations</a></li>
        <li><a href="/src/services/Departments/index.html">Manage Departments</a></li>
        <li><a href="/src/services/JobPosition/index.html">Manage Job Positions</a></li>
        <li><a href="/src/services/Participation/index.html">Manage Role</a></li>
        <li><a id="auth-link" href="/src/services/Auth/login.html">Login</a></li>
    </ul>
</nav>

<script>
    
</script>